<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%# Use the title from a page’s frontmatter if it has one %>
  <title><%= current_page.data.title || "Ruby Versions" %></title>

  <%= partial "mode_switcher_js" %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
</head>

<body>
  <%= partial "header" %>

  <main class="container-fluid my-5">
    <%= yield %>
  </main>

  <%= partial "footer" %>
  <%= javascript_include_tag "application" %>
</body>
</html>
