<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <title>
    <%= data.site.title %> |
    <%= current_page.data.title %>
  </title>

  <%= partial 'head/mode_switcher_js' %>

  <%= partial 'head/twitter' %>
  <%= partial 'head/facebook' %>
  <%= partial 'head/google_analytics' %>

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <%= partial 'header' %>

  <main class='container-fluid my-5'>
    <%= yield %>
  </main>

  <%= partial 'footer' %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
